body {
	font-size: 1em;

	article, section {
		display: block;

		strong, span, em {
			font-weight: normal;
		}
	}
}

p {
	strong {
		a {
			text-decoration: none;
		}
	}
}

.red {
	&article {
		background: red;
	}
	&p {
		border-color: red;
	}
}
