body {
	p {
		color: blue;
	}

	&.bar,
	&:hover {
		color: blue;
	}
}
div .foo {
	&p {
		color: blue;
	}
	&ul {
		color: blue;
	}
	&.bar {
		color: blue;
	}
}
@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400");
@import "../bower_components/normalize-css/normalize.css";

:root {
	--font: 'Roboto', Helvetica, Arial, sans-serif;
	--font-light: 100;
	--font-normal: 300;
	--font-bold: 400;
	--black: #2F3438;
	--gray: color(var(--black) tint(50));
	--lightgray: color(var(--gray) tint(10));
	--white: #FFF;
	--color: springgreen;

	/* Theme */
	--border-thin: solid 1px color(var(--gray) tint(25));
	--border-bold: solid 2px var(--black);
}

html {
	font-family: var(--font);
	color: var(--black);
	font-weight: var(--font-normal);
}

body {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--font-bold);
}

::selection {
	background: color(var(--black) a(0.2));
}

/* Modules */
@import "modules/page.css";
@import "modules/menu.css";
@import "modules/form.css";
@import "modules/table.css";
@import "modules/buttons.css";
@import "modules/warning.css";
@import "modules/search.css";
@import "modules/icons.css";

.ia-12 {
	line, circle {
		stroke: var(--black);
		stroke-width: 2px;
	}
}
:hover > .ia-12 {
	line, circle {
		stroke-width: 4px;
	}
}


/* Pages */
@import "pages/index.css";
