.foo {
	color: red;

	.bar {
		color: black;

		@media (min-width: 500px) {
			color: blue;

			span {
				color: green;
			}

			@media (max-width: 501px) {
			}
		}
	}

	@media (min-width: 700px) {
		> strong {
			font-weight: normal;

			em {
				font-style: normal;
			}
		}
	}
}
